* {
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Playfair', serif;
    font-family: 'Quicksand', sans-serif;
}

.contactus {
    margin-top: 100px;
    color: white;
    text-align: center;
    font-size: 30px;
}

.contacts {
    text-align: center;
    font-size: 30px;
}

.You {
    border-radius: 100px;
    background-color: white;
    color: rgb(240, 0, 0);
}

.twit {
    border-radius: 100px;
    background-color: white;
    color: rgb(0, 230, 230);
}

.tik {
    border-radius: 100px;
    background-color: white;
    color: rgb(0, 0, 0);
}

.ins {
    border-radius: 100px;
    background-color: white;
    color: rgb(255, 120, 210);
}

.face {
    border-radius: 100px;
    background-color: white;
    color: rgb(0, 0, 200);
}

.what {
    border-radius: 100px;
    background-color: white;
    color: rgb(0, 160, 0);
}