html {
    background-color: aliceblue;
}

header {
    background-color: aqua;
    height: 50px;
}

nav {
    background-color: brown;
    height: 80px;
}

main {
    background-color: yellowgreen;
    height: 1000px;
}

footer {
    background-color: black;
    height: 20px;
}

.links {
    text-align: right;
    
}

.title {
    text-align: left;
}

/* .navtab {
    background-color: rgb(120, 200, 25);
    border: 1px solid yellow;
    width: 1877 px;
    height: 100px;
    top: 0px;
    left: 0px;
} */
